Binaries
DerivedDataCache
Intermediate
Saved

Content/Characters
Content/LevelPrototyping
Content/Megascans
Content/MsPresets
Content/StarterContent
Content/ThirdPerson

Config
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace